<button id="penciltool" type="button" style="height: 25px; width: 100px;" 
onclick="pencil()">Pencil</button>
<button id="linetool" type="button" style="height: 25px; width: 100px;" 
onclick="line()">Line</button>
<button id="rectangletool" type="button" style="height: 25px; width: 
100px;" onclick="rectangle()">Rectangle</button> 
<button id="circletool" type="button" style="height: 25px; width: 100px;" 
onclick="circle()">Circle</button> 
<button id="erasertool" type="button" style="height: 25px; width: 100px;" 
onclick="eraser()">Eraser</button> 
<button id="resettool" type="button" style="height: 25px; width: 100px;" 
onclick="reset()">Reset</button>

